doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='style.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
.black
.anhnen
  .start
    .touch
    .hinhchunhat
    .vong1
      .vanhdai1
    .tinhcau1
    .duongbauduc
  .sun
    img.sun_image(src='./image/sun.png' alt='' srcset='')
  .sun1
    img.sun_image1(src='./image/sun.png' alt='' srcset='')
  .mercury
    img.mercury_image(src='./image/mercury.png' alt='')
  .mercury1
    img.mercury_image1(src='./image/mercury.png' alt='')
  .earth
    img.earth_image(src='./image/earth.png' alt='')
  .venus1
    img.venus_image1(src='./image/venus.png' alt='')
  .mars
    img.mars_image(src='./image/mars.png' alt='')
  .planetline
    .suninline
      img.suninline_image(src='./image/sun.png' alt='' srcset='')
    .suninline1
      img.suninline_image1(src='./image/sun.png' alt='' srcset='')
    #line.line1
    .mercuryinline
      img.mercuryinline_image(src='./image/mercury.png' alt='')
    .mercuryinline1
      img.mercuryinline_image1(src='./image/mercury.png' alt='')
    .venusinline
      img.venusinline_image(src='./image/venus.png' alt='')
    .venusinline1
      img.venusinline_image1(src='./image/venus.png' alt='')
    .earthinline
      img.earthinline_image(src='./image/earth.png' alt='')
    .earthinline1
      img.earthinline_image1(src='./image/earth.png' alt='')
    .marsinline
      img.marsinline_image(src='./image/mars.png' alt='')
    .marsinline1
      img.marsinline_image1(src='./image/mars.png' alt='')
    .jupiterinline
      img.jupiterinline_image(src='./image/jupiter.png' alt='')
    .jupiterinline1
      img.jupiterinline_image1(src='./image/jupiter.png' alt='')
    .saturninline
      img.saturninline_image(src='./image/saturn.png' alt='')
    .saturninline1
      img.saturninline_image1(src='./image/saturn.png' alt='')
    .uranusinline
      img.uranusinline_image(src='./image/uranus.png' alt='')
    .uranusinline1
      img.uranusinline_image1(src='./image/uranus.png' alt='')
    .neptuneinline
      img.neptuneinline_image(src='./image/neptune1.png' alt='')
    .neptuneinline1
      img.neptuneinline_image1(src='./image/neptune1.png' alt='')
    #line.line2
    #line.line3
    #line.line4
    #line.line5
    #line.line6
    #line.line7
    #line.line8
.text
  #glitch1.glitch(data-text='Welcome to') Welcome to
  #glitch2.glitch.glitch2(data-text='our Solar System!') our Solar System!
  #glitch3.glitch.glitch3(data-text='-now choose your planet-') -now choose your planet-
.turnon
#hoverthing.sunhover
#hoverthing.mercuryhover
#hoverthing.venushover
#hoverthing.earthhover
#hoverthing.marshover
#hoverthing.jupiterhover
// <div class="jupiterhover"></div>
#hoverthing.saturnhover
#hoverthing.uranushover
#hoverthing.neptunehover
//
  <div class="info1">
  <div class="info1_1"></div>
  </div>
.khungimage
  .image
  .textimage
.khunginformation1
  .information1
  .textinformation1
.khunginformation2
  .information2
  .textinformation2
    img#imageol(src='' alt='')
.vanbanmau
  .mattroi
    .name SUN
    .content
      .content_1 Star Type: G-type main-sequence star
      .content_1 Diameter: Approximately 1.39 million km
      .content_1 Mass: 1.989 x 10^30 kg (about 330,000 times the mass of Earth)
      .content_1 Surface Temperature: Approximately 5,500&deg;C
      .content_1 Core Temperature: Around 15 million&deg;C
      .content_1 Rotation Period: About 25 days at the equator and 35 days at the poles
    .room
      | Lorem ipsum dolor 
      br
      |  sit amet consectetur adipisicing elit. Omnis nulla porro nam! Illo dicta temporibus alias. Assumenda molestiae nihil illum voluptas, inventore, tempore nobis repudiandae aperiam distinctio aut ratione modi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, expedita veniam. Quidem aspernatur beatae dolore voluptas tempora, atque, velit cum dolorum culpa praesentium ducimus inventore, labore neque accusantium eius 
      br
      |  iusto. Lorem ipsum dolor 
      br
      br
      |  sit amet consectetur adipisicing elit. Incidunt explicabo aliquam nemo dolorem maxime rerum illo voluptatibus facere. Distinctio iure qui nam voluptates doloribus quia suscipit consectetur error hic facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint, et ex obcaecati, animi voluptates ad aut eaque optio vel iure 
      br
      | repudiandae porro recusandae a praesentium dolore delectus molestias quasi?
  .saothuy
    .name MERCURY
    .content
      .content_1 Distance from the Sun: About 57.9 million km
      .content_1 Diameter: 4,880 km
      .content_1 Orbital Period (1 year): 88 Earth days
      .content_1 Rotation Period (1 day): 59 Earth days
      .content_1 Surface Temperature: -173&deg;C to 427&deg;C
  .saokim
    .name VENUS
    .content
      .content_1 Distance from the Sun: About 108.2 million km
      .content_1 Diameter: 12,104 km
      .content_1 Orbital Period (1 year): 225 Earth days
      .content_1 Rotation Period (1 day): 243 Earth days (retrograde)
      .content_1 Surface Temperature: Around 467&deg;C
  .traidat
    .name EARTH
    .content
      .content_1 Distance from the Sun: About 149.6 million km
      .content_1 Diameter: 12,742 km
      .content_1 Orbital Period (1 year): 365.25 days
      .content_1 Rotation Period (1 day): 24 hours
      .content_1 Surface Temperature: -88&deg;C to 58&deg;C
  .saohoa
    .name MARS
    .content
      .content_1 Distance from the Sun: About 227.9 million km
      .content_1 Diameter: 6,779 km
      .content_1 Orbital Period (1 year): 687 Earth days
      .content_1 Rotation Period (1 day): 24.6 hours
      .content_1 Surface Temperature: -125&deg;C to 20&deg;C
  .saomoc
    .name JUPITER
    .content
      .content_1 Distance from the Sun: About 778.5 million km
      .content_1 Diameter: 139,820 km
      .content_1 Orbital Period (1 year): 11.86 Earth years
      .content_1 Rotation Period (1 day): 9.9 hours
      .content_1 Surface Temperature: -145&deg;C
  .saotho
    .name SATURN
    .content
      .content_1 Distance from the Sun: About 1.4 billion km
      .content_1 Diameter: 116,460 km
      .content_1 Orbital Period (1 year): 29.5 Earth years
      .content_1 Rotation Period (1 day): 10.7 hours
      .content_1 Surface Temperature: -178&deg;C
  .saothienvuong
    .name URANUS
    .content
      .content_1 Distance from the Sun: About 2.9 billion km
      .content_1 Diameter: 50,724 km
      .content_1 Orbital Period (1 year): 84 Earth years
      .content_1 Rotation Period (1 day): 17.2 hours
      .content_1 Surface Temperature: -224&deg;C
  .saohaivuong
    .name NEPTUNE
    .content
      .content_1 Distance from the Sun: About 4.5 billion km
      .content_1 Diameter: 49,244 km
      .content_1 Orbital Period (1 year): 164.8 Earth years
      .content_1 Rotation Period (1 day): 16.1 hours
      .content_1 Surface Temperature: -214&deg;C
// đây nè
script.
  const touch = document.querySelector('.touch');
  const duongbauduc = document.querySelector('.duongbauduc');
  const hinhchunhat = document.querySelector('.hinhchunhat');
  const body = document.body;
  const sun = document.querySelector('.sun')
  const sun1 = document.querySelector('.sun1')
  const mercury = document.querySelector('.mercury')
  const mercury1 = document.querySelector('.mercury1')
  const earth = document.querySelector('.earth')
  const venus1 = document.querySelector('.venus1')
  const black = document.querySelector('.black')
  const mars = document.querySelector('.mars')
  const suninline = document.querySelector('.suninline')
  const suninline1 = document.querySelector('.suninline1')
  const mercuryinline = document.querySelector('.mercuryinline')
  const mercuryinline1 = document.querySelector('.mercuryinline1')
  const venusinline = document.querySelector('.venusinline')
  const venusinline1 = document.querySelector('.venusinline1')
  const earthinline = document.querySelector('.earthinline')
  const earthinline1 = document.querySelector('.earthinline1')
  const marsinline = document.querySelector('.marsinline')
  const marsinline1 = document.querySelector('.marsinline1')
  const jupiterinline = document.querySelector('.jupiterinline')
  const jupiterinline1 = document.querySelector('.jupiterinline1')
  const saturninline = document.querySelector('.saturninline')
  const saturninline1 = document.querySelector('.saturninline1')
  const uranusinline = document.querySelector('.uranusinline')
  const uranusinline1 = document.querySelector('.uranusinline1')
  const neptuneinline = document.querySelector('.neptuneinline')
  const neptuneinline1 = document.querySelector('.neptuneinline1')
  const line1 = document.querySelector('.line1')
  const planetline = document.querySelector('.planetline')
  const line2 = document.querySelector('.line2')
  const line3 = document.querySelector('.line3')
  const line4 = document.querySelector('.line4')
  const line5 = document.querySelector('.line5')
  const line6 = document.querySelector('.line6')
  const line7 = document.querySelector('.line7')
  const line8 = document.querySelector('.line8')
  const text = document.querySelector('.text')
  const turnon = document.querySelector('.turnon')
  const sunhover = document.querySelector('.sunhover')
  const idglitch1 = document.getElementById('glitch1')
  const idglitch2 = document.getElementById('glitch2')
  const idglitch3 = document.getElementById('glitch3')
  var glitchElements = document.querySelectorAll(".glitch");
  const mercuryhover = document.querySelector('.mercuryhover')
  const venushover = document.querySelector('.venushover')
  const earthhover = document.querySelector('.earthhover')
  const marshover = document.querySelector('.marshover')
  const jupiterhover = document.querySelector('.jupiterhover')
  const saturnhover = document.querySelector('.saturnhover')
  const uranushover = document.querySelector('.uranushover')
  const neptunehover = document.querySelector('.neptunehover')
  const hoverthings = document.querySelectorAll('#hoverthing')
  const lines = document.querySelectorAll('#line')
  const khunginformation1 = document.querySelector(".khunginformation1")
  const khungimage = document.querySelector(".khungimage")
  const khunginformation2 = document.querySelector(".khunginformation2")
  const textimage = document.querySelector(".textimage");
  const mattroi = document.querySelector(".mattroi");
  const saothuy = document.querySelector(".saothuy");
  const saokim = document.querySelector(".saokim");
  const traidat = document.querySelector(".traidat");
  const saohoa = document.querySelector(".saohoa");
  const saomoc = document.querySelector(".saomoc");
  const saotho = document.querySelector(".saotho");
  const saothienvuong = document.querySelector(".saothienvuong");
  const saohaivuong = document.querySelector(".saohaivuong");
  const img = document.getElementById('imageol');
  const anh_1 = document.querySelector('.anh_1');
  const textinformation1 = document.querySelector('.textinformation1');
  const room = document.querySelector('.room')
  ////////////////////////////////////////////////////////////////////////////////
  touch.addEventListener('mouseenter', () => {
  duongbauduc.classList.add('hovered');
  });
  ////////////////////////////////////////////////////////////////////////////////
  touch.addEventListener("click", function () {
  touch.classList.add("clicked_touch");
  hinhchunhat.classList.add("clicked_hinhchunhat")
  body.classList.add('clicked_body');
  sun.classList.add('sunxoay');
  sun1.classList.add('sunxoay1');
  mercury.classList.add('mercuryxoay');
  mercury1.classList.add('mercuryxoay1');
  earth.classList.add('earthxoay');
  venus1.classList.add('venusxoay1');
  black.classList.add('clicked_black');
  mars.classList.add('marsxoay');
  suninline.classList.add('clicked_suninline');
  suninline1.classList.add('clicked_suninline1');
  mercuryinline.classList.add('clicked_mercuryinline');
  mercuryinline1.classList.add('clicked_mercuryinline1');
  venusinline.classList.add('clicked_venusinline');
  venusinline1.classList.add('clicked_venusinline1');
  earthinline.classList.add('clicked_earthinline');
  earthinline1.classList.add('clicked_earthinline1');
  marsinline.classList.add('clicked_marsinline');
  marsinline1.classList.add('clicked_marsinline1');
  jupiterinline.classList.add('clicked_jupiterinline');
  jupiterinline1.classList.add('clicked_jupiterinline1');
  saturninline.classList.add('clicked_saturninline');
  saturninline1.classList.add('clicked_saturninline1');
  uranusinline.classList.add('clicked_uranusinline');
  uranusinline1.classList.add('clicked_uranusinline1');
  neptuneinline.classList.add('clicked_neptuneinline');
  neptuneinline1.classList.add('clicked_neptuneinline1');
  line1.classList.add('clicked_line1');
  planetline.classList.add('clicked_planetline');
  line2.classList.add('clicked_line2');
  line3.classList.add('clicked_line3');
  line4.classList.add('clicked_line4');
  line5.classList.add('clicked_line5');
  line6.classList.add('clicked_line6');
  line7.classList.add('clicked_line7');
  line8.classList.add('clicked_line8');
  text.classList.add('clicked_text');
  turnon.classList.add('clicked_turnon');
  // turnon.classList.remove('clicked_turnon');
  sunhover.classList.add('clicked_sunhover')
  mercuryhover.classList.add('clicked_mercuryhover')
  venushover.classList.add('clicked_venushover')
  earthhover.classList.add('clicked_earthhover')
  marshover.classList.add('clicked_marshover')
  jupiterhover.classList.add('clicked_jupiterhover')
  saturnhover.classList.add('clicked_saturnhover')
  uranushover.classList.add('clicked_uranushover')
  neptunehover.classList.add('clicked_neptunehover')
  ////////////////////////////////////////////////////////////////////////////////
  });
  sunhover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Sun";
  idglitch2.setAttribute("data-text", "our Sun");
  idglitch3.innerHTML = "Remember to bring loads of sunscreen";
  idglitch3.setAttribute("data-text", "Remember to bring loads of sunscreen");
  idglitch1.style.color = "#FFD700";
  idglitch2.style.color = "#FFD700";
  idglitch3.style.color = "#FFD700";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  sunhover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  mercuryhover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Mercury";
  idglitch2.setAttribute("data-text", "our Mercury");
  idglitch3.innerHTML = "Every day in this planet is a 'race'!";
  idglitch3.setAttribute("data-text", "Every day in this planet is a 'race'!");
  idglitch1.style.color = "#B0B0B0";
  idglitch2.style.color = "#B0B0B0";
  idglitch3.style.color = "#B0B0B0";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  mercuryhover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  venushover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Venus";
  idglitch2.setAttribute("data-text", "our Venus");
  idglitch3.innerHTML = "Where sunscreen isn't just an option, it's a lifeline!";
  idglitch3.setAttribute("data-text", "Where sunscreen isn't just an option, it's a lifeline!");
  idglitch1.style.color = "#FF6633";
  idglitch2.style.color = "#FF6633";
  idglitch3.style.color = "#FF6633";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  venushover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  earthhover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Home";
  idglitch2.setAttribute("data-text", "our Home");
  idglitch3.innerHTML = "The only place where you can find both traffic jams";
  idglitch3.setAttribute("data-text", "The only place where you can find both traffic jams");
  idglitch1.style.color = "#2E8B57 ";
  idglitch2.style.color = "#2E8B57 ";
  idglitch3.style.color = "#2E8B57 ";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  earthhover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  marshover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Mars";
  idglitch2.setAttribute("data-text", "our Mars");
  idglitch3.innerHTML = "Even aliens struggle to find a good cup of coffee";
  idglitch3.setAttribute("data-text", "Even aliens struggle to find a good cup of coffee");
  idglitch1.style.color = "#FF4500";
  idglitch2.style.color = "#FF4500";
  idglitch3.style.color = "#FF4500";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  marshover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  jupiterhover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Jupiter";
  idglitch2.setAttribute("data-text", "our Jupiter");
  idglitch3.innerHTML = "Sole planet with magnet strong enough to steal metal from other planets";
  idglitch3.setAttribute("data-text",
  "Sole planet with magnet strong enough to steal metal from other planets");
  idglitch1.style.color = "#D2B48C";
  idglitch2.style.color = "#D2B48C";
  idglitch3.style.color = "#D2B48C";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  jupiterhover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  // đây lày
  saturnhover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Saturn";
  idglitch2.setAttribute("data-text", "our Saturn");
  idglitch3.innerHTML = "Lord of the Rings";
  idglitch3.setAttribute("data-text",
  "Lord of the Rings");
  idglitch1.style.color = "#F5DEB3";
  idglitch2.style.color = "#F5DEB3";
  idglitch3.style.color = "#F5DEB3";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  saturnhover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  uranushover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Uranus";
  idglitch2.setAttribute("data-text", "our Uranus");
  idglitch3.innerHTML = "Spinning on its side like it just doesn't care";
  idglitch3.setAttribute("data-text",
  "Spinning on its side like it just doesn't care");
  idglitch1.style.color = "#AFEEEE";
  idglitch2.style.color = "#AFEEEE";
  idglitch3.style.color = "#AFEEEE";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  uranushover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  neptunehover.addEventListener("mouseover", function () {
  idglitch2.innerHTML = "our Neptune";
  idglitch2.setAttribute("data-text", "our Neptune");
  idglitch3.innerHTML = "Where everyone wonders, 'Why such a name?'";
  idglitch3.setAttribute("data-text",
  "Where everyone wonders, 'Why such a name?'");
  idglitch1.style.color = "#4682B4";
  idglitch2.style.color = "#4682B4";
  idglitch3.style.color = "#4682B4";
  idglitch1.style.transition = "color 0.5s ease"
  idglitch2.style.transition = "color 0.5s ease"
  idglitch3.style.transition = "color 0.5s ease"
  });
  neptunehover.addEventListener('mouseout', function () {
  idglitch2.innerHTML = "our Solar System!";
  idglitch2.setAttribute("data-text", "our Solar System!");
  idglitch3.innerHTML = "-now choose your planet-";
  idglitch3.setAttribute("data-text", "-now choose your planet-");
  idglitch1.style.color = "white";
  idglitch2.style.color = "white";
  idglitch3.style.color = "white";
  });
  ////////////////////////////////////////////////////////////////////////////////
  function setupClickHandlers() {
  event.stopPropagation();
  // Ẩn tất cả các phần tử 'hoverthing'
  hoverthings.forEach(hoverthing => {
  hoverthing.style.visibility = "hidden";
  hoverthing.style.transition = "visibility 0s 0s";
  });
  text.style.opacity = "0"
  text.style.transition = "opacity 0.5s 0s"
  suninline1.style.translate = "-200px";
  suninline1.style.transition = "translate 1s cubic-bezier(.54,-0.15,.47,1.15)"
  mercuryinline1.style.translate = "200px";
  mercuryinline1.style.transition = "translate 1.5s cubic-bezier(.54,-0.15,.47,1.15)"
  venusinline1.style.translate = "-300px";
  venusinline1.style.transition = "translate 2s cubic-bezier(.54,-0.15,.47,1.15)"
  earthinline1.style.translate = "400px";
  earthinline1.style.transition = "translate 2.5s cubic-bezier(.54,-0.15,.47,1.15)"
  marsinline1.style.translate = "500px";
  marsinline1.style.transition = "translate 3s cubic-bezier(.54,-0.15,.47,1.15)"
  jupiterinline1.style.translate = "600px";
  jupiterinline1.style.transition = "translate 2.5s cubic-bezier(.54,-0.15,.47,1.15)"
  saturninline1.style.translate = "-700px";
  saturninline1.style.transition = "translate 2s cubic-bezier(.54,-0.15,.47,1.15)"
  uranusinline1.style.translate = "800px";
  uranusinline1.style.transition = "translate 1.5s cubic-bezier(.54,-0.15,.47,1.15)"
  neptuneinline1.style.translate = "900px";
  neptuneinline1.style.transition = "translate 1s cubic-bezier(.54,-0.15,.47,1.15)"
  var numline = 0;
  lines.forEach(line => {
  numline = numline + 0.15;
  line.style.scale = "0"
  line.style.transition = "scale 0.5s " + numline + "s ease-in-out";
  });
  khunginformation1.classList.add('clicked_khunginformation1')
  khungimage.classList.add('clicked_khungimage')
  khunginformation2.classList.add('clicked_khunginformation2')
  if (thongtin == "mattroi") {
  textimage.innerHTML = mattroi.innerHTML;
  img.src = "./image/sun.png";
  textinformation1.innerHTML = room.innerHTML;
  }
  if (thongtin == "saothuy") {
  textimage.innerHTML = saothuy.innerHTML;
  img.src = "./image/mercury.png";
  }
  if (thongtin == "saokim") {
  textimage.innerHTML = saokim.innerHTML;
  img.src = "./image/venus.png";
  }
  if (thongtin == "traidat") {
  textimage.innerHTML = traidat.innerHTML;
  img.src = "./image/earth.png";
  }
  if (thongtin == "saohoa") {
  textimage.innerHTML = saohoa.innerHTML;
  img.src = "./image/mars.png";
  }
  if (thongtin == "saomoc") {
  textimage.innerHTML = saomoc.innerHTML;
  img.src = "./image/jupiter.png";
  }
  if (thongtin == "saotho") {
  textimage.innerHTML = saotho.innerHTML;
  img.src = "./image/saturn.png";
  }
  if (thongtin == "saothienvuong") {
  textimage.innerHTML = saothienvuong.innerHTML;
  img.src = "./image/uranus.png";
  }
  if (thongtin == "saohaivuong") {
  textimage.innerHTML = saohaivuong.innerHTML;
  img.src = "./image/neptune1.png";
  }
  // Chờ đợi sự kiện click tiếp theo trên document
  const onDocumentClick = function () {
  // Hiện tất cả các phần tử 'hoverthing'
  hoverthings.forEach(hoverthing => {
  hoverthing.style.visibility = "visible";
  hoverthing.style.transition = "visibility 0s 0s";
  });
  text.style.opacity = "1"
  text.style.transition = "opacity 0.5s 0s"
  suninline1.style.translate = "0px";
  suninline1.style.transition = "translate 1s cubic-bezier(.54,-0.15,.47,1.15)"
  mercuryinline1.style.translate = "0px";
  mercuryinline1.style.transition = "translate 1.5s cubic-bezier(.54,-0.15,.47,1.15)"
  venusinline1.style.translate = "0px";
  venusinline1.style.transition = "translate 2s cubic-bezier(.54,-0.15,.47,1.15)"
  earthinline1.style.translate = "0px";
  earthinline1.style.transition = "translate 2.5s cubic-bezier(.54,-0.15,.47,1.15)"
  marsinline1.style.translate = "0px";
  marsinline1.style.transition = "translate 3s cubic-bezier(.54,-0.15,.47,1.15)"
  jupiterinline1.style.translate = "0px";
  jupiterinline1.style.transition = "translate 2.5s cubic-bezier(.54,-0.15,.47,1.15)"
  saturninline1.style.translate = "0px";
  saturninline1.style.transition = "translate 2s cubic-bezier(.54,-0.15,.47,1.15)"
  uranusinline1.style.translate = "0px";
  uranusinline1.style.transition = "translate 1.5s cubic-bezier(.54,-0.15,.47,1.15)"
  neptuneinline1.style.translate = "0px";
  neptuneinline1.style.transition = "translate 1s cubic-bezier(.54,-0.15,.47,1.15)"
  var numline = 0;
  lines.forEach(line => {
  numline = numline + 0.15;
  line.style.scale = "1"
  line.style.transition = "scale 0.5s " + numline + "s ease-in-out";
  });
  khunginformation1.classList.remove('clicked_khunginformation1')
  khungimage.classList.remove('clicked_khungimage')
  khunginformation2.classList.remove('clicked_khunginformation2')
  // Bỏ sự kiện click trên document để không gây chồng chéo
  document.removeEventListener('click', onDocumentClick);
  };
  // Thêm sự kiện click trên document
  document.addEventListener('click', onDocumentClick);
  }
  var thongtin = "";
  sunhover.addEventListener('click', function () {
  thongtin = "mattroi"
  setupClickHandlers();
  });
  mercuryhover.addEventListener('click', function () {
  thongtin = "saothuy"
  setupClickHandlers();
  })
  venushover.addEventListener('click', function () {
  thongtin = "saokim"
  setupClickHandlers();
  })
  earthhover.addEventListener('click', function () {
  thongtin = "traidat"
  setupClickHandlers();
  })
  marshover.addEventListener('click', function () {
  thongtin = "saohoa"
  setupClickHandlers();
  })
  jupiterhover.addEventListener('click', function () {
  thongtin = "saomoc"
  setupClickHandlers();
  })
  saturnhover.addEventListener('click', function () {
  thongtin = "saotho"
  setupClickHandlers();
  })
  uranushover.addEventListener('click', function () {
  thongtin = "saothienvuong"
  setupClickHandlers();
  })
  neptunehover.addEventListener('click', function () {
  thongtin = "saohaivuong"
  setupClickHandlers();
  })
